### macOS
.DS_Store
.AppleDouble
.LSOverride
._*

### Windows
Thumbs.db
ehthumbs.db
[Dd]esktop.ini
$RECYCLE.BIN/
*.lnk

### JetBrains / VS Code
.idea/
.vscode/
*.iws
*.iml
out/

### Jekyll (just in case)
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata
